In [1]:
#inpomrt libraries 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
file_path = r"C:\Users\adity\Desktop\IANT PYTHON\Task first\Sales and Customer Behavior Analysis\Sales_Customer_Behavior_Dataset.csv"
# Read the CSV file with the specified encoding
df = pd.read_csv(file_path, encoding='unicode_escape')

In [3]:
df

,Customer_ID,Name,Age,Gender,Location,Product_Category,Purchase_Amount,Purchase_Date,Loyalty_Points,Website_Visits,Preferred_Payment_Method
0,CUST1000,Customer_0,64,Male,North,Toys,301.40,2024-12-01,271,39,Debit Card
1,CUST1001,Customer_1,37,Male,East,Electronics,150.69,2024-12-24,503,10,Net Banking
2,CUST1002,Customer_2,27,Male,East,Fashion,449.15,2024-09-13,482,42,UPI
3,CUST1003,Customer_3,36,Male,East,Beauty,356.97,2024-01-02,412,49,Cash
4,CUST1004,Customer_4,59,Female,East,Toys,257.52,2024-08-30,136,40,Debit Card
...,...,...,...,...,...,...,...,...,...,...,...
4995,CUST5995,Customer_4995,66,Female,South,Beauty,238.14,2024-09-12,357,13,Credit Card
4996,CUST5996,Customer_4996,44,Female,South,Toys,311.76,2024-05-03,229,4,Debit Card
4997,CUST5997,Customer_4997,42,Female,North,Beauty,59.09,2024-07-20,262,46,Cash
4998,CUST5998,Customer_4998,68,Male,East,Fashion,354.23,2024-07-12,782,2,Debit Card
4999,CUST5999,Customer_4999,36,Female,West,Electronics,467.89,2024-07-28,105,43,Credit Card

In [4]:
df.head()

,Customer_ID,Name,Age,Gender,Location,Product_Category,Purchase_Amount,Purchase_Date,Loyalty_Points,Website_Visits,Preferred_Payment_Method
0,CUST1000,Customer_0,64,Male,North,Toys,301.40,2024-12-01,271,39,Debit Card
1,CUST1001,Customer_1,37,Male,East,Electronics,150.69,2024-12-24,503,10,Net Banking
2,CUST1002,Customer_2,27,Male,East,Fashion,449.15,2024-09-13,482,42,UPI
3,CUST1003,Customer_3,36,Male,East,Beauty,356.97,2024-01-02,412,49,Cash
4,CUST1004,Customer_4,59,Female,East,Toys,257.52,2024-08-30,136,40,Debit Card

In [5]:
df.tail()

,Customer_ID,Name,Age,Gender,Location,Product_Category,Purchase_Amount,Purchase_Date,Loyalty_Points,Website_Visits,Preferred_Payment_Method
4995,CUST5995,Customer_4995,66,Female,South,Beauty,238.14,2024-09-12,357,13,Credit Card
4996,CUST5996,Customer_4996,44,Female,South,Toys,311.76,2024-05-03,229,4,Debit Card
4997,CUST5997,Customer_4997,42,Female,North,Beauty,59.09,2024-07-20,262,46,Cash
4998,CUST5998,Customer_4998,68,Male,East,Fashion,354.23,2024-07-12,782,2,Debit Card
4999,CUST5999,Customer_4999,36,Female,West,Electronics,467.89,2024-07-28,105,43,Credit Card

In [6]:
df.shape

(5000, 11)

In [7]:
df.size

55000

In [8]:
df.columns

Index(['Customer_ID', 'Name', 'Age', 'Gender', 'Location', 'Product_Category',
       'Purchase_Amount', 'Purchase_Date', 'Loyalty_Points', 'Website_Visits',
       'Preferred_Payment_Method'],
      dtype='object')

In [9]:
df.index

RangeIndex(start=0, stop=5000, step=1)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer_ID               5000 non-null   object
 1   Name                      5000 non-null   object
 2   Age                       5000 non-null   int64
 3   Gender                    5000 non-null   object
 4   Location                  5000 non-null   object
 5   Product_Category          5000 non-null   object
 6   Purchase_Amount           5000 non-null   float64
 7   Purchase_Date             5000 non-null   object
 8   Loyalty_Points            5000 non-null   int64
 9   Website_Visits            5000 non-null   int64
 10  Preferred_Payment_Method  5000 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 429.8+ KB

In [74]:
df.describe()

,age,purchase_amount,purchase_date,loyalty_points,website_visits
count,5000.00000,5000.000000,5000,5000.000000,5000.000000
mean,43.80400,252.829152,2024-07-02 23:40:42.240000,497.392600,25.783400
min,18.00000,10.200000,2024-01-01 00:00:00,0.000000,1.000000
25%,31.00000,130.267500,2024-04-06 00:00:00,244.000000,14.000000
50%,44.00000,252.200000,2024-07-05 00:00:00,503.000000,26.000000
75%,57.00000,372.295000,2024-09-29 00:00:00,749.000000,38.000000
max,70.00000,499.920000,2024-12-30 00:00:00,1000.000000,50.000000
std,15.13336,140.494820,NaN,287.569412,14.249179

In [13]:
#check for null values
pd.isnull(df).sum()

Customer_ID                 0
Name                        0
Age                         0
Gender                      0
Location                    0
Product_Category            0
Purchase_Amount             0
Purchase_Date               0
Loyalty_Points              0
Website_Visits              0
Preferred_Payment_Method    0
dtype: int64

In [14]:
df.nunique()

Customer_ID                 5000
Name                        5000
Age                           53
Gender                         2
Location                       4
Product_Category               5
Purchase_Amount             4770
Purchase_Date                365
Loyalty_Points               992
Website_Visits                50
Preferred_Payment_Method       5
dtype: int64

 # Data Analyst 1

 # Data Collection and Cleaning

## 1.1.1 Understand the Data

In [21]:
# Display data types
print("\nColumn data types:")
print(df.dtypes)

Column data types:
Customer_ID                  object
Name                         object
Age                           int64
Gender                       object
Location                     object
Product_Category             object
Purchase_Amount             float64
Purchase_Date                object
Loyalty_Points                int64
Website_Visits                int64
Preferred_Payment_Method     object
dtype: object

In [19]:
# Check for missing values
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
Customer_ID                 0
Name                        0
Age                         0
Gender                      0
Location                    0
Product_Category            0
Purchase_Amount             0
Purchase_Date               0
Loyalty_Points              0
Website_Visits              0
Preferred_Payment_Method    0
dtype: int64

In [17]:
# Summary statistics
print("\nSummary statistics:")
print(df.describe(include='all'))

Summary statistics:
       Customer_ID        Name         Age Gender Location Product_Category  \
count         5000        5000  5000.00000   5000     5000             5000
unique        5000        5000         NaN      2        4                5
top       CUST1000  Customer_0         NaN   Male    South      Electronics
freq             1           1         NaN   2538     1289             1044
mean           NaN         NaN    43.80400    NaN      NaN              NaN
std            NaN         NaN    15.13336    NaN      NaN              NaN
min            NaN         NaN    18.00000    NaN      NaN              NaN
25%            NaN         NaN    31.00000    NaN      NaN              NaN
50%            NaN         NaN    44.00000    NaN      NaN              NaN
75%            NaN         NaN    57.00000    NaN      NaN              NaN
max            NaN         NaN    70.00000    NaN      NaN              NaN

        Purchase_Amount Purchase_Date  Loyalty_Points  Website_Visits  \
count       5000.000000          5000     5000.000000     5000.000000
unique              NaN           365             NaN             NaN
top                 NaN    2024-08-25             NaN             NaN
freq                NaN            26             NaN             NaN
mean         252.829152           NaN      497.392600       25.783400
std          140.494820           NaN      287.569412       14.249179
min           10.200000           NaN        0.000000        1.000000
25%          130.267500           NaN      244.000000       14.000000
50%          252.200000           NaN      503.000000       26.000000
75%          372.295000           NaN      749.000000       38.000000
max          499.920000           NaN     1000.000000       50.000000

       Preferred_Payment_Method
count                      5000
unique                        5
top                         UPI
freq                       1038
mean                        NaN
std                         NaN
min                         NaN
25%                         NaN
50%                         NaN
75%                         NaN
max                         NaN

## 1.1.2 Handle Missing Values

In [23]:
# Identify columns with missing values
missing_columns = df.columns[df.isnull().any()]
print("\nColumns with missing values:", missing_columns)

Columns with missing values: Index([], dtype='object')

In [24]:
# Fill missing values with appropriate methods
for col in missing_columns:
    if data[col].dtype == 'object':  # For categorical data
        data[col].fillna(data[col].mode()[0], inplace=True)
    else:  # For numerical data
        data[col].fillna(df[col].median(), inplace=True)

In [25]:
# Verify no missing values remain
print("\nMissing values after handling:")
print(df.isnull().sum())

Missing values after handling:
Customer_ID                 0
Name                        0
Age                         0
Gender                      0
Location                    0
Product_Category            0
Purchase_Amount             0
Purchase_Date               0
Loyalty_Points              0
Website_Visits              0
Preferred_Payment_Method    0
dtype: int64

## 1.1.3 Check for Duplicates

In [34]:
# Check for duplicates
duplicates = df.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicates}")

# Remove duplicates
if duplicates > 0:
    data.drop_duplicates(inplace=True)
    print("Duplicate rows removed.")

Number of duplicate rows: 0

## 1.1.4 Validate Data Types

In [33]:
# Convert Purchase_Date to datetime
df['Purchase_Date'] = pd.to_datetime(df['Purchase_Date'])

# Ensure numerical columns are numeric
numeric_columns = ['Age', 'Purchase_Amount', 'Loyalty_Points', 'Website_Visits']
for col in numeric_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

print("\nData types after validation:")
print(df.dtypes)

Data types after validation:
Customer_ID                         object
Name                                object
Age                                  int64
Gender                              object
Location                            object
Product_Category                    object
Purchase_Amount                    float64
Purchase_Date               datetime64[ns]
Loyalty_Points                       int64
Website_Visits                       int64
Preferred_Payment_Method            object
dtype: object

 ## 1.1.5 Outlier Detection and Handling

In [36]:
# Define a function to cap outliers using the IQR method
def cap_outliers(series):
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return np.clip(series, lower_bound, upper_bound)

# Apply outlier capping
for col in numeric_columns:
    df[col] = cap_outliers(df[col])

print("\nOutliers handled in numeric columns.")

Outliers handled in numeric columns.

## 1.1.6 Standardize Column Name

In [39]:
# Rename columns to follow a consistent format
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

print("\nStandardized column names:")
print(df.columns)

Standardized column names:
Index(['customer_id', 'name', 'age', 'gender', 'location', 'product_category',
       'purchase_amount', 'purchase_date', 'loyalty_points', 'website_visits',
       'preferred_payment_method'],
      dtype='object')

## 1.1.7 Save the Cleaned Dataset

In [49]:
df.to_csv('Cleaned_Sales_Customer_Behavior_Dataset.csv', index=False)
#cleaned_file_path = '/mnt/data/Cleaned_Sales_Customer_Behavior_Dataset.csv'
df.to_csv(cleaned_file_path, index=False)

print(f"\nCleaned dataset saved at: {cleaned_file_path}")

Cleaned dataset saved at: /mnt/data/Cleaned_Sales_Customer_Behavior_Dataset.csv

In [48]:
import os
# Define the file path and save the dataset
cleaned_file_path = '/mnt/data/Cleaned_Sales_Customer_Behavior_Dataset.csv'
os.makedirs(os.path.dirname(cleaned_file_path), exist_ok=True)
df.to_csv(cleaned_file_path, index=False)
print(f"Cleaned dataset saved to {cleaned_file_path}")

Cleaned dataset saved to /mnt/data/Cleaned_Sales_Customer_Behavior_Dataset.csv

## 1.2.1 missing values

In [57]:
# Fill missing values for categorical and numerical columns
for col in df.columns:
    if df[col].dtype == 'object':  # For categorical data
        df[col].fillna(df[col].mode()[0], inplace=True)
    else:  # For numerical data
        df[col].fillna(df[col].median(), inplace=True)

# Verify no missing values remain
print("\nMissing values after handling:")
print(df.isnull().sum())

Missing values after handling:
customer_id                 0
name                        0
age                         0
gender                      0
location                    0
product_category            0
purchase_amount             0
purchase_date               0
loyalty_points              0
website_visits              0
preferred_payment_method    0
dtype: int64

## 1.2.2 Remove Outliers

In [61]:
# Define a function to cap outliers using the IQR method
def cap_outliers(series):
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return np.clip(series, lower_bound, upper_bound)

# Apply the function to all numerical columns
numeric_columns = df.select_dtypes(include=[np.number]).columns
for col in numeric_columns:
    df[col] = cap_outliers(df[col])

print("\nOutliers have been handled in numeric columns.")

Outliers have been handled in numeric columns.

## 1.2.3 Standardize Column Names

In [62]:
# Standardize column names by making them lowercase and replacing spaces with underscores
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

print("\nStandardized column names:")
print(df.columns)

Standardized column names:
Index(['customer_id', 'name', 'age', 'gender', 'location', 'product_category',
       'purchase_amount', 'purchase_date', 'loyalty_points', 'website_visits',
       'preferred_payment_method'],
      dtype='object')

## 1.2.4 Save the Cleaned Dataset

In [75]:
# Define the output file path
cleaned_file_path = '/mnt/data/Cleaned_Sales_Customer_Behavior_Dataset.csv'

# Create the directory if it doesn't exist
os.makedirs(os.path.dirname(cleaned_file_path), exist_ok=True)

# Save the cleaned dataset
df.to_csv(cleaned_file_path, index=False)

print(f"\nCleaned dataset saved successfully at: {cleaned_file_path}")

Cleaned dataset saved successfully at: /mnt/data/Cleaned_Sales_Customer_Behavior_Dataset.csv

In [68]:
# Save the dataset to a downloadable path
prepared_file_path = '/mnt/data/Prepared_Sales_Customer_Behavior_Dataset.csv'
df.to_csv(prepared_file_path, index=False)

print(f"Dataset saved successfully at: {prepared_file_path}")

Dataset saved successfully at: /mnt/data/Prepared_Sales_Customer_Behavior_Dataset.csv

In [72]:
# Step 5: Export cleaned dataset
cleaned_file_path = '/mnt/data/Cleaned_Sales_Customer_Behavior_Dataset_Cleaned.csv'
df.to_csv(cleaned_file_path, index=False)
print(f"Cleaned dataset saved to {cleaned_file_path}")

Cleaned dataset saved to /mnt/data/Cleaned_Sales_Customer_Behavior_Dataset_Cleaned.csv

## 1.3.1 Verify the Cleaned Dataset

In [76]:
# Verify data types and non-null counts
print(df.info())

# Check for any remaining missing values
print("Remaining missing values:\n", df.isnull().sum())

# Ensure there are no duplicate rows
print("Duplicate rows:", df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               5000 non-null   object
 1   name                      5000 non-null   object
 2   age                       5000 non-null   int64
 3   gender                    5000 non-null   object
 4   location                  5000 non-null   object
 5   product_category          5000 non-null   object
 6   purchase_amount           5000 non-null   float64
 7   purchase_date             5000 non-null   datetime64[ns]
 8   loyalty_points            5000 non-null   int64
 9   website_visits            5000 non-null   int64
 10  preferred_payment_method  5000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 429.8+ KB
None
Remaining missing values:
 customer_id                 0
name                        0
age                         0
gender                      0
location                    0
product_category            0
purchase_amount             0
purchase_date               0
loyalty_points              0
website_visits              0
preferred_payment_method    0
dtype: int64
Duplicate rows: 0

## 1.3.2 Add Derived Columns (if Needed)

In [85]:
# Example: Extract year and month from purchase_date
if 'purchase_date' in df.columns:
    df['purchase_date'] = pd.to_datetime(df['purchase_date'])
    df['purchase_year'] = df['purchase_date'].dt.year
    df['purchase_month'] = df['purchase_date'].dt.month

# Example: Segment customers by age group
if 'age' in df.columns:
    bins = [0, 18, 35, 50, 65, 100]
    labels = ['<18', '18-35', '36-50', '51-65', '>65']
    df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)

## 1.3.3 Normalize Numerical Columns (if Needed)

In [89]:
from sklearn.preprocessing import MinMaxScaler

# Normalize purchase_amount
if 'purchase_amount' in df.columns:
    scaler = MinMaxScaler()
    df['purchase_amount_normalized'] = scaler.fit_transform(df[['purchase_amount']])

## 1.3.4 Encode Categorical Variables

In [93]:
# Ensure columns exist, clean column names, and apply one-hot encoding
required_columns = ['gender', 'preferred_payment_method', 'product_category']

# Check and clean column names
df.columns = df.columns.str.strip()  # Remove leading/trailing spaces

# Handle missing columns by creating placeholders
for col in required_columns:
    if col not in df.columns:
        df[col] = None  # Assign a default value like 'Unknown'

# Apply one-hot encoding to the required columns
df = pd.get_dummies(df, columns=required_columns, drop_first=True)

# Print the resulting DataFrame's columns to verify
print("Columns after encoding:", df.columns.tolist())

Columns after encoding: ['customer_id', 'name', 'age', 'location', 'purchase_amount', 'purchase_date', 'loyalty_points', 'website_visits', 'purchase_year', 'purchase_month', 'age_group', 'purchase_amount_normalized', 'gender_Male', 'preferred_payment_method_Credit Card', 'preferred_payment_method_Debit Card', 'preferred_payment_method_Net Banking', 'preferred_payment_method_UPI', 'product_category_Electronics', 'product_category_Fashion', 'product_category_Home', 'product_category_Toys']

## 1.3.5 Recheck Dataset Integrity

In [96]:
# Check for any remaining anomalies
print(df.describe(include='all'))

# Check dataset dimensions
print("Dataset shape:", df.shape)

       customer_id        name         age location  purchase_amount  \
count         5000        5000  5000.00000     5000      5000.000000
unique        5000        5000         NaN        4              NaN
top       CUST1000  Customer_0         NaN    South              NaN
freq             1           1         NaN     1289              NaN
mean           NaN         NaN    43.80400      NaN       252.829152
min            NaN         NaN    18.00000      NaN        10.200000
25%            NaN         NaN    31.00000      NaN       130.267500
50%            NaN         NaN    44.00000      NaN       252.200000
75%            NaN         NaN    57.00000      NaN       372.295000
max            NaN         NaN    70.00000      NaN       499.920000
std            NaN         NaN    15.13336      NaN       140.494820

                     purchase_date  loyalty_points  website_visits  \
count                         5000     5000.000000     5000.000000
unique                         NaN             NaN             NaN
top                            NaN             NaN             NaN
freq                           NaN             NaN             NaN
mean    2024-07-02 23:40:42.240000      497.392600       25.783400
min            2024-01-01 00:00:00        0.000000        1.000000
25%            2024-04-06 00:00:00      244.000000       14.000000
50%            2024-07-05 00:00:00      503.000000       26.000000
75%            2024-09-29 00:00:00      749.000000       38.000000
max            2024-12-30 00:00:00     1000.000000       50.000000
std                            NaN      287.569412       14.249179

        purchase_year  purchase_month  ... purchase_amount_normalized  \
count          5000.0     5000.000000  ...                5000.000000
unique            NaN             NaN  ...                        NaN
top               NaN             NaN  ...                        NaN
freq              NaN             NaN  ...                        NaN
mean           2024.0        6.561400  ...                   0.495445
min            2024.0        1.000000  ...                   0.000000
25%            2024.0        4.000000  ...                   0.245176
50%            2024.0        7.000000  ...                   0.494160
75%            2024.0        9.000000  ...                   0.739392
max            2024.0       12.000000  ...                   1.000000
std               0.0        3.401668  ...                   0.286888

        gender_Male preferred_payment_method_Credit Card  \
count          5000                                 5000
unique            2                                    2
top            True                                False
freq           2538                                 3997
mean            NaN                                  NaN
min             NaN                                  NaN
25%             NaN                                  NaN
50%             NaN                                  NaN
75%             NaN                                  NaN
max             NaN                                  NaN
std             NaN                                  NaN

       preferred_payment_method_Debit Card  \
count                                 5000
unique                                   2
top                                  False
freq                                  4023
mean                                   NaN
min                                    NaN
25%                                    NaN
50%                                    NaN
75%                                    NaN
max                                    NaN
std                                    NaN

       preferred_payment_method_Net Banking preferred_payment_method_UPI  \
count                                  5000                         5000
unique                                    2                            2
top                                   False                        False
freq                                   4027                         3962
mean                                    NaN                          NaN
min                                     NaN                          NaN
25%                                     NaN                          NaN
50%                                     NaN                          NaN
75%                                     NaN                          NaN
max                                     NaN                          NaN
std                                     NaN                          NaN

       product_category_Electronics product_category_Fashion  \
count                          5000                     5000
unique                            2                        2
top                           False                    False
freq                           3956                     3988
mean                            NaN                      NaN
min                             NaN                      NaN
25%                             NaN                      NaN
50%                             NaN                      NaN
75%                             NaN                      NaN
max                             NaN                      NaN
std                             NaN                      NaN

       product_category_Home product_category_Toys
count                   5000                  5000
unique                     2                     2
top                    False                 False
freq                    4065                  4006
mean                     NaN                   NaN
min                      NaN                   NaN
25%                      NaN                   NaN
50%                      NaN                   NaN
75%                      NaN                   NaN
max                      NaN                   NaN
std                      NaN                   NaN

[11 rows x 21 columns]
Dataset shape: (5000, 21)

## 1.3.6 Save the Prepared Dataset

In [98]:
# Save the dataset for analysis
prepared_file_path = '/mnt/data/Prepared_Sales_Customer_Behavior_Dataset.csv'
df.to_csv(prepared_file_path, index=False)
print(f"Prepared dataset saved to: {prepared_file_path}")

Prepared dataset saved to: /mnt/data/Prepared_Sales_Customer_Behavior_Dataset.csv

In [100]:
df

,customer_id,name,age,location,purchase_amount,purchase_date,loyalty_points,website_visits,purchase_year,purchase_month,...,purchase_amount_normalized,gender_Male,preferred_payment_method_Credit Card,preferred_payment_method_Debit Card,preferred_payment_method_Net Banking,preferred_payment_method_UPI,product_category_Electronics,product_category_Fashion,product_category_Home,product_category_Toys
0,CUST1000,Customer_0,64,North,301.40,2024-12-01,271,39,2024,12,...,0.594626,True,False,True,False,False,False,False,False,True
1,CUST1001,Customer_1,37,East,150.69,2024-12-24,503,10,2024,12,...,0.286878,True,False,False,True,False,True,False,False,False
2,CUST1002,Customer_2,27,East,449.15,2024-09-13,482,42,2024,9,...,0.896329,True,False,False,False,True,False,True,False,False
3,CUST1003,Customer_3,36,East,356.97,2024-01-02,412,49,2024,1,...,0.708099,True,False,False,False,False,False,False,False,False
4,CUST1004,Customer_4,59,East,257.52,2024-08-30,136,40,2024,8,...,0.505023,False,False,True,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,CUST5995,Customer_4995,66,South,238.14,2024-09-12,357,13,2024,9,...,0.465450,False,True,False,False,False,False,False,False,False
4996,CUST5996,Customer_4996,44,South,311.76,2024-05-03,229,4,2024,5,...,0.615780,False,False,True,False,False,False,False,False,True
4997,CUST5997,Customer_4997,42,North,59.09,2024-07-20,262,46,2024,7,...,0.099833,False,False,False,False,False,False,False,False,False
4998,CUST5998,Customer_4998,68,East,354.23,2024-07-12,782,2,2024,7,...,0.702503,True,False,True,False,False,False,True,False,False
4999,CUST5999,Customer_4999,36,West,467.89,2024-07-28,105,43,2024,7,...,0.934595,False,True,False,False,False,True,False,False,False

In [101]:
df.columns

Index(['customer_id', 'name', 'age', 'location', 'purchase_amount',
       'purchase_date', 'loyalty_points', 'website_visits', 'purchase_year',
       'purchase_month', 'age_group', 'purchase_amount_normalized',
       'gender_Male', 'preferred_payment_method_Credit Card',
       'preferred_payment_method_Debit Card',
       'preferred_payment_method_Net Banking', 'preferred_payment_method_UPI',
       'product_category_Electronics', 'product_category_Fashion',
       'product_category_Home', 'product_category_Toys'],
      dtype='object')

In [102]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [103]:
# Save the DataFrame as an Excel file
file_path = 'Cleaned_Dataset.xlsx'  # Name of the Excel file
df.to_excel(file_path, index=False, engine='openpyxl')  # Save without the index

print(f"Dataset successfully saved as {file_path}")

Dataset successfully saved as Cleaned_Dataset.xlsx